* text=auto
Dockerfile text eol=lf
.github/** text eol=lf
**/*.yml text eol=lf
README.md text eol=lf
docker-compose.yml text eol=lf
.tag text eol=lf
.dockerignore text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
